.container {
	display: flex;
	gap: 1rem;
}

.cont_cards {
	max-width: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.cont_sidebar {
	display: flex;
	flex-direction: column;
}
