.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.pageButton {
	border: 0 solid #e5e7eb;
	border-radius: 0.25rem;
	border-width: 1px;
	margin: 0.5rem 0.25rem 0.25rem;
	padding: 0.25rem 0.5rem;
	color: #f26e66;
	background-color: #fff;
}

.pageButton:hover {
	border: 0 solid #e5e7eb;

	border-radius: 0.25rem;
	border-width: 1px;
	margin: 0.5rem 0.25rem 0.25rem;
	padding: 0.25rem 0.5rem;
	color: #fff;
	background-color: #f26e66;
}

@media only screen and (min-width: 500px) {
	.container {
		grid-column: 1 / 3;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		grid-column: 1 / 3;
	}
}

@media only screen and (min-width: 1030px) {
	/* el min-width tiene que ser el mismo que el width del container */
	.container {
		grid-column: 1 / 4;
	}
}
