.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 1rem;
	margin-top: 1rem;
}
.marketLine {
	margin-top: 0.3rem;
	display: block;
	background-color: rgba(229, 231, 235, 1);
	height: 2px;
}

@media only screen and (min-width: 500px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (min-width: 768px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media only screen and (min-width: 1030px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}
