.cont_top {
	display: flex;
	justify-content: space-between;
}
.box {
	width: 300px;
}
.cont_img {
	margin: 0 auto;
	width: 120px;
}
img {
	width: 100%;
}
.link {
	text-decoration: none;
	color: rgb(99, 195, 216);
}
.text_end {
	text-align: end;
}

/* Navigation */

.cont_navigation {
	min-height: 2.5rem;
}

/* NavBar */
.cont_navBar {
	height: 100%;
}

/* Search */
.cont_search {
	display: flex;
	align-items: center;

	margin-top: 1rem;
}

/* @media only screen and (min-width: 500px) {
	.cont_cards {
		grid-column: 1 / 3;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
} */

@media only screen and (min-width: 768px) {
	.cont_navigation {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 1rem;
	}
	.cont_navBar {
		grid-column: 1 / 3;
	}
	.cont_search {
		grid-column: 3 / 4;
		margin-top: 0;
	}
}

@media only screen and (min-width: 1030px) {
	.cont_navigation {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 1rem;
	}
	.cont_navBar {
		grid-column: 1 / 4;
	}
	.cont_search {
		grid-column: 4 / 5;
	}
}
