.container {
	margin-top: 1rem;
}

.title {
	font-size: 1.35rem;
	margin-bottom: 1rem;
}

.marketLine {
	margin-top: 0.3rem;
	display: block;
	background-color: rgba(229, 231, 235, 1);
	height: 2px;
}

.subTitle {
	font-weight: 700;
}

.sectionImg {
	display: grid;
	gap: 1rem;
}

.sectionImg .img_detail {
	width: 80%;
	margin: 0 auto;
}

.sectionImg .resume_info {
	line-height: 1.75;
	color: #374151;
	font-size: 0.85rem;
}
.sectionImg .resume_info ul li {
	padding-left: 1.75em;
	position: relative;
	list-style-type: none;
	margin: 0.5rem 0;
}

.sectionImg .resume_info ul li:before {
	background-color: #d1d5db;
	border-radius: 50%;
	content: "";
	height: 0.375em;
	left: 0.25em;
	position: absolute;
	top: 0.6875em;
	width: 0.375em;
}

.sectionImg .resume_info ul li a {
	color: #f26e66;
}
.sectionMedia {
	margin-top: 1rem;
}
.sectionMedia .iframe {
	margin-top: 1rem;
	width: 100%;
	height: 200px;
	border: none;
}
.sectionSuggestions {
	margin-top: 1rem;
}

@media only screen and (min-width: 500px) {
	.title {
		font-size: 1.5rem;
	}

	.sectionImg .resume_info {
		font-size: 0.95rem;
	}

	.sectionMedia .iframe {
		height: 300px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		margin-top: 0;
	}
	.title {
		font-size: 1.75rem;
	}

	.sectionImg {
		grid-template-columns: repeat(6, minmax(0, 1fr));
		align-items: center;
	}

	.sectionImg .img_detail {
		grid-column: 1 / 3;

		width: 100%;
	}

	.sectionImg .resume_info {
		grid-column: 3 / 7;
	}

	.sectionMedia .iframe {
		height: 400px;
	}
}

@media only screen and (min-width: 1030px) {
	.title {
		font-size: 2rem;
	}

	.sectionImg {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.sectionImg .img_detail {
		grid-column: 1 / 2;

		width: 300px;
		height: 450px;
	}

	.sectionImg .resume_info {
		font-size: 1rem;
		grid-column: 3 / 6;
	}

	.sectionMedia .iframe {
		height: 500px;
	}
}
