.color {
	font-weight: bold;
}
.text_area {
	line-height: 1.75;
}
.title_area {
	background-color: #545454;
	color: #fff;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
}

.area_content {
	margin: 1rem 0;
}
/* TERCER SECTION  */
.grilla {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}
.grilla a {
	text-decoration: none;
	background-color: #40394d;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 3px 5px;
	border-radius: 5px;
	transition: all ease-in-out 0.1s;
}
.grilla a:hover {
	transform: scale(1.05);
}

/* 4TA SECTION */
.section ul li {
	padding-left: 1.75em;
	position: relative;
	list-style-type: none;
	margin: 0.5rem 0;
}

.section ul li:before {
	background-color: #d1d5db;
	border-radius: 50%;
	content: "";
	height: 0.375em;
	left: 0.25em;
	position: absolute;
	top: 0.6875em;
	width: 0.375em;
}
.section ul li a {
	color: tomato;
}
