.color {
	font-weight: bold;
}

.text_area {
	line-height: 1.75;
}

.title_area {
	background-color: #545454;
	color: #fff;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
}

.area_content {
	margin: 1rem 0;
}

.cont_Movies {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
	.section {
		margin-top: 1rem;
	}
}
