.color {
	font-weight: bold;
}

.text_area {
	line-height: 1.75;
}
.title_area {
	background-color: #545454;
	color: #fff;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
}

.area_content {
	margin: 1rem 0;
}

.cont_Movies {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.5rem;
}

.section ul li {
	padding-left: 1.75em;
	position: relative;
	list-style-type: none;
	margin: 0.5rem 0;
}

.section ul li:before {
	background-color: #d1d5db;
	border-radius: 50%;
	content: "";
	height: 0.375em;
	left: 0.25em;
	position: absolute;
	top: 0.6875em;
	width: 0.375em;
}

.section ul li a {
	color: #f26e66;
}

@media only screen and (max-width: 768px) {
	.section {
		margin-top: 1rem;
	}
}
