.container {
	margin-top: 1.5rem;
	line-height: 1.5;
	font-size: 0.8rem;
}

.cont_text {
	text-align: center;
	color: rgba(75, 85, 99, 1);
}

@media only screen and (min-width: 500px) {
	.container {
		margin-top: 1.5rem 0;
		line-height: 1.25;
	}
	.cont_text {
		padding: 0.5rem 0;
		font-size: 0.9rem;
	}
}
