.container {
	margin-top: 1.5rem;
	font-size: 0.8rem;
}

.cont_text {
	text-align: center;
	color: rgba(75, 85, 99, 1);
}

.marketLine {
	margin-top: 0.3rem;
	display: block;
	background-color: rgba(229, 231, 235, 1);
	height: 2px;
}

@media only screen and (min-width: 500px) {
	.cont_text {
		padding: 0.5rem 0;
	}
}
